html, body {
  margin: 0px;
  padding: 0px;
}

body {
	background-color: #61E786;
}

.parent {
  display: grid;
  height: 100vh;
  /* grid-template-columns: 25vw 25vw 25vw 25vw; */
  grid-template-rows: 88vh 12vh;
}
  
body .material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers.
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-container {
  background-color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding: 20px;
  gap: 30px;
}

a {
		color: black;
}

h1 {
  font-size: 32px;
  text-align: center;
}

h2 {
  font-size: x-large;
}

.content {
  overflow-y: scroll;
}

.footer {
  background-color: aliceblue;
  /* grid-column: 1 / span 1; */
  grid-row: 2 / span 1;
}
